@import 'core/settings';
@import 'core/links';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    &__logo {

    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    border-radius: 2%;
    background: blueviolet;
    width: 200px;
    height: 300px;
    margin: 15px;

    .flip {
    color: white;
    font-size: 15px;
    font-style: oblique;
    }

    .img {
        display: none;
    }
}


.clickedCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid;
    border-radius: 2%;
    width: 200px;
    height: 300px;
    margin: 15px;
    background: rgb(236, 189, 250);

    .flip {
        display: none;
    }

    .img {
        width: 100%;
        height: 80%;
    }
}